@page "/downloadPlaylist/{PlaylistId:int}"
@attribute [AllowAnonymous]

<PageTitle>
    @localizer[nameof(AppStrings.DownloadPlaylist)]
</PageTitle>

@if (_playlist is not null && _linkInfoList is not null)
{
    <FritzBreadcrumbs Items=_items />

    <MudItem xs=12>
        <MudPaper Class="mt-4 pa-4"
                  Elevation=3>
            <MudText Class="mb-2"
                     Typo=Typo.subtitle1>
                @localizer[nameof(AppStrings.LoadedLinks), _linkInfoList.Count]
            </MudText>
            <MudText Color="Color.Warning"
                     Typo=Typo.subtitle2>
                @localizer[nameof(AppStrings.PublicPlaylistDownloadInfo)]
            </MudText>
            <MudText Class="mb-2"
                     Color="Color.Warning"
                     Typo=Typo.subtitle2>
                @localizer[nameof(AppStrings.PrivatePlaylistDownloadInfo)]
            </MudText>

            <MudSelect @bind-Value=_youtubeFileType
                       Class="mb-2"
                       Disabled=_downloading
                       Label=@localizer[nameof(AppStrings.FileType)]
                       T=YoutubeFileType
                       UserAttributes=@(new Dictionary<string, object> { { TestConst.TestId, DownloadPlaylistPageConst.YoutubeFileTypeSelect } })
                       Variant=Variant.Outlined>
                @foreach (var youtubeFileType in Enum.GetValues(typeof(YoutubeFileType)))
                {
                    <MudSelectItem T="YoutubeFileType"
                                   UserAttributes=@(new Dictionary<string, object> { { TestConst.TestId, $"download-playlist-page-{(YoutubeFileType)youtubeFileType}" } })
                                   Value=(YoutubeFileType)youtubeFileType>
                        @youtubeFileType.ToString()
                    </MudSelectItem>
                }
            </MudSelect>

            <FritzProcessingButton ButtonText=@localizer[nameof(AppStrings.Download)]
                                   Color=Color.Primary
                                   OnClick=DownloadPlaylistLinks
                                   ProcessingButtonText=@localizer[nameof(AppStrings.Downloading)] 
                                   @ref=_processingButton
                                   UserAttributes=@(new Dictionary<string, object> { { TestConst.TestId, DownloadPlaylistPageConst.DownloadButton } }) />

            @if (_downloading)
            {
                <MudProgressLinear Class="my-7"
                                   Color=Color.Primary
                                   Size=Size.Large
                                   Striped=true
                                   Style="height: 30px;"
                                   Value=_downloadPercent>
                    <MudText Style="@($"color:{Colors.Gray.Darken4};")"
                             Typo=Typo.h6>
                        @((int)_downloadPercent)% - @_downloadingSongTitle
                    </MudText>
                </MudProgressLinear>
            }
        </MudPaper>
    </MudItem>

    @if (_downloadLinkResults is not null)
    {
        <MudItem xs=12>
            <MudPaper Class="mt-4 pa-4"
                      Elevation=3>
                <MudText Typo=Typo.subtitle2>
                    @localizer[nameof(AppStrings.DownloadedLinksCountResults), _downloadLinkResults.Count]
                </MudText>
                @foreach (var result in _downloadLinkResults)
                {
                    @if (result.Success)
                    {
                        <a href="@result.Link.Url"
                           target="_blank">
                            <MudText Color=@Color.Success>
                                [@localizer[nameof(AppStrings.Success)]] - @result.Link.Title
                            </MudText>
                        </a>
                    }
                    else
                    {
                        <a href="@result.Link.Url"
                           target="_blank">
                            <MudText Color=@Color.Error>
                                [@localizer[nameof(AppStrings.Fail)]] - @result.Link.Title
                            </MudText>
                        </a>
                    }
                }
            </MudPaper>
        </MudItem>
    }
}