@page "/downloadLink"
@attribute [AllowAnonymous]

<PageTitle>
    @localizer[nameof(AppStrings.DownloadLink)]
</PageTitle>

<FritzBreadcrumbs Items="_items" />

<MudPaper Class="pa-4"
          Elevation="3">
    <MudText Class="mb-3">
        @localizer[nameof(AppStrings.DownloadLink)]
    </MudText>
    <EditForm Model="Command"
              OnValidSubmit="HandleValidSubmit">
        <CustomValidator @ref="_customValidator" />
        <FluentValidationValidator />

        <MudStack AlignItems="AlignItems.Center"
                  Justify="Justify.Center"
                  Row="true">
            <FritzTextField @bind-Value="Command.Url"
                            For="() => Command.Url"
                            Label="@localizer[nameof(AppStrings.Url)]"
                            ShrinkLabel
                            UserAttributes="@(new Dictionary<string, object> { { TestConst.TestId, DownloadLinkPageConst.UrlInput } })"
                            Variant="Variant.Outlined" />

            <MudSelect @bind-Value="Command.YoutubeFileType"
                       For="() => Command.YoutubeFileType"
                       Label="@localizer[nameof(AppStrings.FileType)]"
                       T="YoutubeFileType"
                       UserAttributes="@(new Dictionary<string, object> { { TestConst.TestId, DownloadLinkPageConst.YoutubeFileTypeSelect } })"
                       Variant="Variant.Outlined">
                @foreach (var youtubeFileType in Enum.GetValues(typeof(YoutubeFileType)))
                {
                    <MudSelectItem T="YoutubeFileType"
                                   UserAttributes=@(new Dictionary<string, object> { { TestConst.TestId, $"download-link-page-{(YoutubeFileType)youtubeFileType}" } })
                                   Value=(YoutubeFileType)youtubeFileType>
                        @youtubeFileType.ToString()
                    </MudSelectItem>
                }
            </MudSelect>

            <FritzProcessingButton ButtonText="@localizer[nameof(AppStrings.Download)]"
                                   ButtonType="ButtonType.Submit"
                                   Color="Color.Primary"
                                   ProcessingButtonText="@localizer[nameof(AppStrings.Downloading)]"
                                   @ref="_processingButton"
                                   UserAttributes="@(new Dictionary<string, object> { { TestConst.TestId, DownloadLinkPageConst.DownloadButton } })" />
        </MudStack>
        <FritzValidationMessage For="() => Command.Url" />
        <FritzValidationMessage For="() => Command.YoutubeFileType" />
    </EditForm>
</MudPaper>

@if (_downloadLinkResults is not null && _downloadLinkResults.Count > 0)
{
    <MudItem xs=12>
        <MudPaper Class="mt-4 pa-4"
                  Elevation=3>
            <MudText Typo=Typo.subtitle2>
                @localizer[nameof(AppStrings.DownloadedLinksCountResults), _downloadLinkResults.Count]
            </MudText>
            @foreach (var result in _downloadLinkResults)
            {
                @if (result.Success)
                {
                    <a href="@result.Url"
                       target="_blank">
                        <MudText Color=@Color.Success>
                            [@localizer[nameof(AppStrings.Success)]] - @result.Url
                        </MudText>
                    </a>
                }
                else
                {
                    <a href="@result.Url"
                       target="_blank">
                        <MudText Color=@Color.Error>
                            [@localizer[nameof(AppStrings.Fail)]] - @result.Url
                        </MudText>
                    </a>
                }
            }
        </MudPaper>
    </MudItem>
}